@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: monospace;
}

.block {
  color: #fff;
  border-radius: 16px;
  transition: background-color 0.15s ease-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
}

.block::before {
  background-size: 200% 100%;
  background-position: 100% 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    45deg,
    rgba(24, 24, 24, 0.1),
    rgba(56, 56, 56, 0.1) 10px,
    transparent 10px,
    transparent 20px
  );
  opacity: 0.5;
  pointer-events: none;
}


.graphic-container:hover {
  background-image: radial-gradient(
    circle at var(--x) var(--y),
    rgba(35, 90, 127, 0.319) 0%,
    transparent 4000px
  );
}

@keyframes slideGradient {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}

.slide-border {
  position: relative;
  overflow: hidden;
}

.slide-border::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.slide-border:hover::before {
  transform: translateY(0);
}
